# InfluxDB secrets
INFLUXDB_PORT=
INFLUXDB_BUCKET=
INFLUXDB_USER=
# Must be at least 8 characters long
INFLUXDB_PASSWORD=
INFLUXDB_V2_ORG=
INFLUXDB_V2_TOKEN=

# Grafana secrets
GRAFANA_USERNAME=
GRAFANA_PASSWORD=
GRAFANA_PORT=

# Zookeeper secrets
ZOOKEEPER_PORT=

# Spark secrets
SPARK_MASTER_PORT=
SPARK_MASTER_WEBUI_PORT=

# Kafka secrets (kafka service related)
KAFKA_PORT=
KAFKA_LISTENERS=
KAFKA_ADVERTISED_LISTENERS=
KAFKA__DEFAULT_TOPIC=

# Networks range secrets
PRODUCER_RANGE=
CONSUMER_RANGE=